@import url('https://fonts.googleapis.com/css2?family=Finlandica:wght@400;500;600&family=Poppins:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'swiper/css';

@layer base {
  body {
    @apply font-finlandica leading-5 text-white bg-[#0C0807];
  }

  h2 {
    @apply text-[40px] leading-[50px] font-medium;
  }

  h3 {
    @apply text-[32px] leading-10;
  }

  p {
    @apply leading-[26px] opacity-80 text-center;
  }

  button {
    @apply w-fit px-8 py-3 text-xl leading-6 font-medium border border-white rounded-full;
  }
}

@layer components {
  .login-input {
    @apply bg-[#FFFFFF4D] rounded-lg w-full py-3 px-3 text-gray-400 leading-tight mb-6;
  }

  .gradient-text {
    background: linear-gradient(132.85deg, #f95a63 4.69%, #0b88d9 27.01%, #fae620 49.33%, #4cde55 57.7%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .prompts-button {
    @apply px-10 py-5 mr-5 bg-transparent text-white border border-[#FFFFFF33] rounded-[9px];

    &.active {
      @apply bg-green text-black border-none;
    }
  }

  .browse-button {
    @apply px-10 py-4 bg-yellow text-dark-blue;
  }

  .slider-button {
    @apply flex items-center justify-center w-10 h-10 p-0 bg-transparent text-white border hover:bg-white hover:text-black;
  }

  .prompts-swiper-action {
    @apply w-full mb-20;

    & > div {
      @apply flex mb-9 justify-between;

      & > div {
        @apply flex items-center gap-x-3;

        & > button {
          @apply slider-button;
        }
      }
    }
  }

  .blog {
    @apply container flex gap-28 mx-auto mb-20;

    & > img {
      @apply border-8 border-[#FFFFFF66] rounded-[5px];
    }

    & > div {
      @apply flex flex-col;

      & > h2 {
        @apply mb-5;
      }

      & > div {
        @apply flex flex-col gap-3 mb-8;
      }

      & > button {
        @apply bg-yellow text-dark-blue;
      }
    }
  }
}
